.carousel{
	width: 100%;
	line-height: 100vh;
}
#Explorar{
	width : 100%;
	min-height: 100vh;
	padding-top: 2vh;
	padding-bottom: 3rem;
	background: linear-gradient(180deg, #46b2dd 0%, #61ffd6 100%);
	}

