.VideoExplorer {
	margin-top: 2.5vh;
	background-color: rgba(230,230,240,0.7);	
	width: 100%;

}
.VideoUnico{
	margin-top: 2.5vh;
	float: left;
	position: relative;
	margin-right: 20vh;
	max-width: 20%;
		img {
		width: 40%;
	}
}
