.VideoExplorer {
	margin-top: 2.5vh;
	width: 100%;


}
.VideoUnico{
	padding         : 1vh;
	margin-top      : 2.5vh;
	float           : left;
	position        : relative;
	margin-right    : 5.5vh;
	max-width       : 10vw;
	min-height      : 23vh;
	max-height      : 23vh;
	border          : 2px solid black;
	border-radius   : 1vh;
	border-bottom   : none;
	padding-bottom  : 1vh;
	text-align      : center;
	img {
		width        : 75%;
		margin       : 0 auto;
		border-radius: 1vw;
		opacity      : 0.6;
		transition: all 150ms ease;
	}
	&:hover {
		cursor: pointer;
		img {
			width: 80%;
			opacity: 1;
			border-radius: 0;
		}
	}
	h1{
		font: bold 1em Nunito;
	}
	a {
		color: black;
	}
}
