
.block {
	width : 100%;
	min-height: 100vh;
	margin-top: 0;
	padding-bottom: 3rem;
	&:nth-of-type(n+2) {
		color: white;
		user-select: none;
		background: linear-gradient(180deg, rgba(70,178,221,1) 0%, rgba(97,255,214,1) 100%);
		h1 {
			font: bold 3.2rem Nunito;
		}
		p {
			font: normal 2rem Nunito;
		}
		img {
			margin-top: -2vh;
			width: 28em;
		}
	}
	&:nth-of-type(3){
		color: black;
		background: none;
		h1:first-of-type {
			font: bold 2.7rem Nunito;
		}
		p {
			padding: 1vw;
			font: normal 1rem Nunito;
			background-color: white;
			border-radius: 1vw;
			margin-top: 6vh!important;
		}
		#Sub2Model {
			font: normal 1.2rem Nunito;
			margin-top: -.5rem!important;
			background-color: transparent;
			padding: 0;
		}
		#Sub1Model {
			font: normal 1.7rem Nunito;
			background-color: transparent;
			margin: 0!important;
			padding: 0;
		}
	}
	&:nth-of-type(4) {
		background: rgba(88,229,232,1);
}
}

@media(max-width: 768px) {
	.block {
		&:nth-of-type(2) {
			img {
				text-align: center;
				width: 40vw;			
			}	
		}
	}
}

#err404 {
	user-select: none;
	h1 {
		font: bold 2.5rem Nunito;
	}
	#leftside h1 {
		margin-left: 0!important;
	}
	p {
		font: normal 1.5rem Nunito;
	}
	button {
		background   : rgb(88,229,232);
		border       : none;
		outline      : none;
		cursor       : pointer;
		font         : bolder 1rem Nunito;
		padding      : .8vh 0;
		text-shadow  : .1vw .1vw .25vw black;
		color        : white;
		border-radius: 5vw;
		width        : 14rem;
		margin-top   : 5vh;
		box-shadow   : 0px .5vw .5vw -.25vw black;
		transition   : all 250ms ease;
		&:hover, &:focus {
			box-shadow: none;
			text-shadow: none;
			color: white;
			border: solid .1vw black;
		}
	}
	img {
		margin-top: -5vh;
		width: 23.5rem;
	}
}