.block {
	width : 100%;
	min-height: 100vh;
	margin-top: 0;
	&:nth-of-type(2) {
		user-select: none;
		background: linear-gradient(180deg, rgba(70,178,221,1) 0%, rgba(97,255,214,1) 100%);
		h1 {
			color: white;
			font: bold 2.5rem Nunito;
		}
		p {
			color: white;
			font: normal 1.5rem Nunito;
		}
		img {
			margin-top: -2vh;
			width: 23.5em;
		}
	}
	&:nth-of-type(3) {
		user-select: none;
		background-image: url("../Desing/Draw/Fundo.svg");
		h1 {
			color: white;
			font: bold 2.5rem Nunito;
		}
		p {
			color: white;
			font: normal 1.5rem Nunito;
		}
		img {
			margin-top: -2vh;
			width: 23.5em;
		}
	}



	&:nth-of-type(4) {
		background: linear-gradient(180deg, rgba(70,178,221,1) 0%, rgba(97,255,214,1) 100%);
		h1 {
			color: white;
			font: bold 2.5rem Nunito;
		}
		p {
			color: white;
			font: normal 1.5rem Nunito;
		}
		img {
			margin-top: -2vh;
			width: 23.5em;
		}
}

@media(max-width: 768px) {
	.block {
		&:nth-of-type(2) {
			img {
				text-align: center;
				width: 40vw;			
			}	
		}
	}
}

#err404 {
	user-select: none;
	h1 {
		font: bold 2.5rem Nunito;
	}
	#leftside h1 {
		margin-left: 0!important;
	}
	p {
		font: normal 1.5rem Nunito;
	}
	button {
		background   : rgb(88,229,232);
		border       : none;
		outline      : none;
		cursor       : pointer;
		font         : bolder 1rem Nunito;
		padding      : .8vh 0;
		text-shadow  : .1vw .1vw .25vw black;
		color        : white;
		border-radius: 5vw;
		width        : 14rem;
		margin-top   : 5vh;
		box-shadow   : 0px .5vw .5vw -.25vw black;
		transition   : all 250ms ease;
		&:hover, &:focus {
			box-shadow: none;
			text-shadow: none;
			color: white;
			border: solid .1vw black;
		}
	}
	img {
		margin-top: -5vh;
		width: 23.5rem;
	}
}