#err404 {
	user-select: none;
	h1 {
		font: bold 2.5vw Arial;
		margin-left: 12.5vw;
	}
	#leftside h1 {
		margin-left: 0!important;
	}
	p {
		font: normal 1.5vw Verdana;
	}
	button {
		background   : rgb(88,229,232);
		border       : none;
		outline      : none;
		cursor       : pointer;
		font         : bolder 1.5vw arial;
		padding      : .8vh 0;
		text-shadow  : .1vw .1vw .2vw white;
		color        : black;
		border-radius: 1vw;
		width        : 18vw;
		margin-top   : 5vh;
		box-shadow   : 0px .5vw .5vw -.25vw black;
		transition   : all 250ms ease;
		&:hover {
			box-shadow: none;
			text-shadow: .1vw .1vw .2vw black;
			color: white;
		}
	}
	img {
		margin-top: -5vh;
		width: 75%;
	}
}