<div class="container">
	<div class="row">
		<div class="col-12" id="VídeoExplorerX">
			
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12" id="NoticeExplorerX">
			
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12" id="VídeoExplorerX">
			
		</div>
	</div>
</div>