<div class="container">
	<div class="row">
		<div class="col-12 VideoExplorer">
			<center><h2>VÍDEOS</h2></center>
			{{#each video}}
			<div class="VideoUnico row">
				<img src="{{thumb}}"><h1>{{tittle}}</h1><p>{{author}}</p>
			</div>
				
			{{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12" id="NoticeExplorerX">
			
		</div>
	</div>
</div>



<link rel="stylesheet" type="text/css" href="/CSS/Home.css">