<section class="block">	
	<div class="container">
		<div class="row ">
			<div class="col-1"></div>
			<div class="col-12 col-md-4 col-lg-4 col-xs-12 mt-5" id="leftside">
				<h1 class="mt-lg-5 text-lg-left text-center">Diferente de tudo que você já viu</h1>
				<p class="mt-lg-5 text-lg-left text-center">A nova plataforma para curiosos, educadores e alunos</p>
			</div>
			<div align="center" class="col-12 col-md-6 col-lg-6 col-xs-12 mt-lg-5 mt-2">
				<img src="/Design/Draws/WomanLapTop.svg">
			</div>
		</div>
	</div>
</section>
<section class="block">
		<div class="container">
		<div class="row ">
			<div class="col-1"></div>
			<div class="col-12 col-md-4 col-lg-4 col-xs-12 mt-5" id="leftside">
				<h1 class="mt-lg-5 text-lg-left text-center">Diferente de tudo que você já viu</h1>
				<p class="mt-lg-5 text-lg-left text-center">A nova plataforma para curiosos, educadores e alunos</p>
			</div>
			<div align="center" class="col-12 col-md-6 col-lg-6 col-xs-12 mt-lg-5 mt-2">
				<img src="/Design/Draws/ManLaptop.svg">
			</div>
		</div>
	</div>
</section>
<section class="block">
	<div class="container">
		<div class="row ">
			<div class="col-1"></div>
			<div class="col-12 col-md-4 col-lg-4 col-xs-12 mt-5" id="leftside">
				<h1 class="mt-lg-5 text-lg-left text-center">Para os educadores e entusiastas, temos um cantinho especial pra vocês</h1>
				<p class="mt-lg-5 text-lg-left text-center">Dedicamos uma sessão especial para você educador, para que possa expandir horizontes sem segredo e sem dificuldades</p>
			</div>
			<div align="center" class="col-12 col-md-6 col-lg-6 col-xs-12 mt-lg-5 mt-2">
				<img src="/Design/Draws/WomanMain.svg">
			</div>
		</div>
	</div>

</section>
<link rel="stylesheet" type="text/css" href="/CSS/ModelPags.css">
<style type="text/css">
	#Footer {
		position: relative;
	}
</style>