<section class="block">	
	<div class="container">
	<div class="row ">
		<div class="col-1"></div>
		<div class="col-4 mt-lg-5" id="leftside">
			<h1>Diferente de tudo que você já viu</h1>
			<p class="mt-lg-5">A nova plataforma para curiosos, educadores e alunos</p>
		</div>
		<div class="col 2"></div>
		<div class="col-6">
			<img src="/Design/Draws/WomanLapTop.svg">
		</div>
	</div>
</div>
	<svg xmlns="http://www.w3.org/2000/svg" width="288" height="288" viewBox="0 0 288 288" fill="none">
		<circle cx="144" cy="144" r="144" fill="#F7F7F7"/>
	</svg>
	<svg width="95" height="95" viewBox="0 0 95 95" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M47.5 7.91659C57.9981 7.91659 68.0663 12.087 75.4896 19.5103C82.913 26.9336 87.0833 37.0018 87.0833 47.4999C87.0833 52.6981 86.0595 57.8453 84.0702 62.6478C82.081 67.4503 79.1653 71.8139 75.4896 75.4896C68.0663 82.9129 57.9981 87.0832 47.5 87.0833C37.0018 87.0833 26.9337 82.9129 19.5103 75.4896C12.087 68.0662 7.91666 57.9981 7.91665 47.4999C7.91665 42.3018 8.94051 37.1545 10.9298 32.352C12.919 27.5496 15.8347 23.1859 19.5103 19.5103C23.186 15.8346 27.5496 12.9189 32.3521 10.9297C37.1546 8.94044 42.3018 7.91659 47.5 7.91659ZM47.5 67.2916L67.2917 47.4999L55.4167 47.4999L55.4167 31.6666L39.5833 31.6666L39.5833 47.4999L27.7083 47.4999L47.5 67.2916Z" fill="#58E5E8"/>
	</svg>
</section>
<section class="block">
	
</section>
<section class="block">
	
</section>
<link rel="stylesheet" type="text/css" href="/CSS/ModelPags.css">
<style type="text/css">
	#Footer {
		position: relative;
	}
</style>