<div class="container">
	<div class="row">
		<div align="center" class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-5 mt-0 mt-lg-1">
			<div id="InfoBox1">
				<p>NOME</p>
				<p>SEXO</p>
				<p></p>
				<p>LOGRADOURO</p>
				<p>NÚMERO</p>
				<p>COMPLEMENTO</p>			
			</div>
			<div id="InfoBox2">
				<p>Teste</p>
				<p>Teste</p>
				<p>Teste</p>
			</div>
		</div>
		<div align="center" class="col-12 col-lg-5 col-md-5 col-sm-12 col-xs-5 ml-lg-5 mt-0 mt-lg-3">
			<div id="PicBox">
				<img draggable="false" src="/Design/Imgs/PicTest.jpg">
				<p>Logado como: {{logged}}</p>
			</div>
				<a href="#"><p>ALTERAR FOTO</p></a>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="/CSS/Perfil.css">