<div class="container pb-3" id="SuccessBox">
	<div class="row">
		<div class="col-1"></div>
		<div align="center" class="col-12 col-md-4 col-lg-4 col-xs-12 mt-5" id="leftside">
			<h1>Registro<br>Concluido</h1>
			<br>
			<p>Obrigado <span>{{username}}</span> <br> por se cadastrar</p>
			<a tabindex="-1" href="/complacencyclass.com.br"><button>INÍCIO</button></a>
		</div>
		<!-- <div class="col-2"></div> -->
		<div align="center" class="col-12 col-md-6 col-lg-6 col-xs-12 mt-5">
			<h1>Sucesso</h1>
			<img src="/Design/Draws/WomanLapTop.svg">
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="/CSS/CompleteTask.css">