 body {
 	background: #60A0E7;
 }

 @mixin mainAnimation {
 	transition: all 200ms ease-out;
 }

 #TopBar {
 	position: fixed;
 	width: 100%;
 }

 #SearchBox input, #SearchBox button {
 	color: black;
 	background-color: white;
 	border-radius: 20px;
 	border-style: none;
 	outline: none;
 	text-align: center;
 	margin: 1% 0;
 	display: inline-block;
 	@include mainAnimation;
 	user-select: default;
 }

 #SearchBox input {
 	width: 75%;
 }

 #SearchBox input::placeholder {
 	color: #ccc;
 	text-align: center;
 }

 #SearchBox > *:hover , #SearchBox > *:focus {
 	box-shadow: 0px 5px 15px rgba(0,0,0,.25);
 	@include mainAnimation;
 }

 #SearchBox button:hover, #SearchBox button:focus {
 	background: #58E5E8;
 	@include mainAnimation;
 }

 #SearchBox button svg {
 	@include mainAnimation;
 	transform: rotate(20deg);
 }

 #SearchBox button:hover > svg, #SearchBox button:focus > svg {
 	@include mainAnimation;
 	color: white;
 	transform: scale(1.4) rotate(0deg);
 } 

 #SearchBox button {
 	padding: 0.5% 0.9%;
 }

 #MenuIcons {
 	margin-top: 10%;
 	display: inline;
 }

 #MenuIcons svg {
 	margin-left: 4%;
 	cursor: pointer;
 	@include mainAnimation;
 }

 #MenuIcons svg:hover, #MenuIcons svg:focus {
 	transform: scale(1.5);
 	color: white;
 }

 #MenuIcons svg, #MenuIcons span, #SearchBox {
 	outline-style: none;
 	user-select: none;
 }

 // Menus
 #MenusContainer {

 }

 .TopMenu {
 }

 .TopMenu ul {
 	position: absolute;
 	top: 0;
 	right: 6%;
 	background-color: #F7F7F7;
 	border-radius: 0 0 13px 13px;
 	box-shadow: 0px 2px 2px rgba(0,0,0,.4);
 	list-style: none;
 	user-select: none;
 }

 .TopMenu li {
 	margin-top: 25%;
 	margin-left: -15%;
 }

 .TopMenu li span {
 	color: black;
 	font: bold 16px Arial;
 	margin-left: 8%;
 	vertical-align: middle;
 }

 .TopMenu img {
 	width: 15%;
 }

 .TopMenu li:first-of-type {
 	margin-top: 15%;
 }

 .TopMenu li:last-of-type {
 	margin-bottom: 15%;
 }

 // Rodapé
 #Footer {
 	position: absolute;
	width: 100%;
	min-height: 18vh;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-color: #022F38;
 }

 h3 {
 	color: white;
 	font: normal 18px Verdana;
 }

 #Footer h3, #Footer img, #Footer a, #Footer span, #Footer svg {
 	user-select: none;
 	outline-style: none;
 }

 #Footer p {
 	color: white;
 	font-style: normal;
 	font-size: 16px;
 	text-align: left;
 }

 #Footer ul {
 	list-style: none;
 }

 #Footer span:first-of-type:hover > img {
 	opacity: .6;
 	filter: blur(5px);
 	@include mainAnimation;
 }

 #Footer div > img {
 	position: absolute;
 	top: 0;
 	left: 0;
 	transform: scale(1) translate(-65%,-35%);
 }

 #Footer span img {
 	width: 10%;
 	cursor: pointer;
 	margin-left: 5%;
 	text-align: center;
 	@include mainAnimation;
 }

 #Footer span img:first-of-type {
 	margin-left: 0;
 }

 #Footer span img:hover {
 	transform: scale(1.35);
 	opacity: 1!important;
 	filter: blur(0px)!important;
 }



 @media(max-width: 740px) {
 	#Footer {
 		position: relative;
 	}

 	#TopBar {
 		position: relative;
 	}
 }
